.vscode/
.ccls-cache/

/cross_compiler/
cross_compiler/
/sysroot/
/out/
/tests/out

*/.zig-cache
**/.zig-cache

./lightos.elf

*/__pycache__/
**/__pycache__/

/src/aniva/asm/ksyms.asm
**/**/ksyms.asm
*/**/ksyms.asm
/**/ksyms.asm

zig/**_abi.zig
**/**/**_abi.zig
*/**/**_abi.zig
/**/**_abi.zig

/rust/target/
