.vscode/
.ccls-cache/

/cross_compiler/
cross_compiler/
/sysroot/
/out/
/tests/out

./lightos.elf

*/__pycache__/
**/__pycache__/

/src/aniva/asm/ksyms.asm
**/**/ksyms.asm
*/**/ksyms.asm
/**/ksyms.asm

./zig/aniva_abi.zig
